
/*Exercise 1 CSS*/
  .box {
    display: flex;
    margin-top: 50px; 
    margin-bottom: 50px;
  }

  .box1 {
    background-color: #ff9999; 
    border: 3px solid #cc0000; 
    margin: 150px 100px 150px 100px;
    padding: 50px;
    text-align: center;
  }

  .box2 {
    background-color: #99ff99; 
    border: 3px double #006600; 
    margin: 120px 100px 120px 50px;
    padding: 75px;
    text-align: center;
  }

  .box3 {
    background-color: #9999ff; 
    border: 3px dashed #0000cc; 
    margin: 100px 500px 100px 50px;
    padding: 100px;
    text-align: center;  
  }

/*Exercise 2 CSS*/

  .center{background-color: beige;
    border: 3px solid black;
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }

/*Exercise 3 CSS*/

  .float{
    margin-top: 50px;
    margin-left: 50px;
  }

  .float-box {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
    background-color: orange;
    text-align: center;
    line-height: 200px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Exercise 4 CSS*/

.media {
  font-family: Arial, sans-serif;
  margin: 100px;
  padding: 0;
  box-sizing: border-box;

}

.media-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}

#media-box1 {
  background-color: red;
}

#media-box2 {
  background-color: green;
}

#media-box3 {
  background-color: blue;
}

@media screen and (max-width: 600px) {
  .media-box {
      width: 80%;
      padding: 10px;
  }
}

/*Exercise 5 CSS*/



/*Exercise 6 CSS*/



/*Exercise 7 CSS*/



/*Exercise 8 CSS*/



/*Exercise 9 CSS*/

